name: main

on:
  push:
  pull_request:
  release:
    types: [published]


jobs:
  pack:
    runs-on: windows-latest

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: Print outputs
        run: |
          "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.x

      - name: Publish
        run: dotnet publish ConsoleApp6/ -o ConsoleApp6/bin/Publish --configuration Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ConsoleApp6
          path: ConsoleApp6/bin/Publish

  deploy:
    if: ${{ github.event_name == 'release' && github.ref_type == 'tag' }}
    needs: pack
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: ConsoleApp6
          path: ConsoleApp6

      - name: Create package
        run: Compress-Archive -Path ConsoleApp6/* -DestinationPath ConsoleApp6.zip -Force
        shell: pwsh

      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ConsoleApp6.zip
          body: |
            this is a test
  notify:
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Notify Discord
        uses: tyrrrz/action-http-request@v1
        with:
          url: ${{ secrets.DISCORD_WEBHOOK }}
          method: POST
          headers: |
            Content-Type: application/json; charset=UTF-8
          body: |
            {
              "username": "My Test1 Bot",
              "avatar_url": "https://i.imgur.com/4M34hi2.png",
              "content": "**${{ github.event.repository.name }}** new version released!\nVersion: `${{ github.ref_name }}`\n\nRelease Notes: ${{ github.event.release.body }}\n\nDownload: <${{ github.event.release.html_url }}/${{ github.event.repository.name }}-${{ github.event.release.tag_name }}.apk>"
            }
